
# Substitua por suas próprias configurações depois de copiar este arquivo para .env

# Banco de Dados
POSTGRES_USER=admin
POSTGRES_PASSWORD=supersecretpassword
POSTGRES_DB=evolution_db

# Evolution API
EVOLUTION_API_KEY=sua_chave_de_api_aqui

# Configurações de Fuso Horário
TZ=America/Sao_Paulo